/node_modules
/public/hot
/public/storage
/public/css
/public/images
/public/js
/public/fonts
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
.env
resources/lang/*/auth.php
resources/lang/*/pagination.php
resources/lang/*/passwords.php
resources/lang/*/validation.php
