option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: "/public"
    composer_options: "--no-dev --optimize-autoloader"

option_settings:
  - option_name: APP_ENV
    value: aws

container_commands:
  00env:
    command: "env"
  50cache-config:
    command: "/usr/bin/php artisan config:cache"
  51db-migrate:
    command: "/usr/bin/php artisan migrate"
#  52db-seed:
#    command: "/usr/bin/php artisan db:seed"

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/50-cache.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      . /opt/elasticbeanstalk/support/envvars

      set -xe

      cd $(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)

      /usr/bin/php artisan config:cache
      /usr/bin/php artisan route:cache
      chown webapp:webapp bootstrap

  "/opt/elasticbeanstalk/hooks/configdeploy/enact/50-cache-config.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      . /opt/elasticbeanstalk/support/envvars

      set -xe

      cd $(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)

      /usr/bin/php artisan config:cache
      chown webapp:webapp bootstrap
