commands:
  90delete-bak:
    command: "rm -f /etc/cron.hourly/laravel-scheduled.sh.bak"

files:
  "/etc/cron.hourly/laravel-scheduled.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      test -x /usr/bin/php || exit 0
      test -r /var/app/current/artisan || exit 0

      . /opt/elasticbeanstalk/support/envvars

      sudo -E -u webapp /usr/bin/php /var/app/current/artisan schedule:run -v
