files:
  "/opt/elasticbeanstalk/hooks/preinit/24-mod-pagespeed.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      set -xe

      wget -N https://dl-ssl.google.com/dl/linux/direct/mod-pagespeed-stable_current_x86_64.rpm
      rpm -q mod-pagespeed-stable \
        || sudo rpm -U mod-pagespeed-stable_current_x86_64.rpm