/*
 * Set height to viewport to allow for footer positioning at the bottom
 */
html {
  height: 100%;
}

body {
  height: 100%;
  color: #777;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/*
 * This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
  height: 100%;
  padding-left: 0;
}

#layout.active #menu {
  left: 150px;
  width: 150px;
}

#layout.active .menu-link {
  left: 150px;
}

/*
 * Wrapper for content and footer
*/
#main {
  position: relative;
  float: left; /* scale to content size */
  min-height: 100%; /* prevent floating left */
  min-width: 100%;
}

/*
The content `<div>` is where all your content goes.
*/
.content {
  padding: 2em 0.5em 7em 0.5em;
  line-height: 1.6em;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.content div {
  margin: 0 auto;
}

/*
 * Footer which always stays at the bottom of the page and below all content
 */
.footer {
  font-size: 85%;
  border-top: 1px solid #ddd;
  background: #eee;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4em;
  text-align: center;
}

.footer p {
  padding: 0 2em;
  margin: 0.7em 0;
}

/*
.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }
*/

/*
 * Ensure centering of tables like other inline content
 */
table {
  display: inline-table;
}

th {
  text-align: center;
}

label {
  text-align: left;
}

.tight-table td,
.tight-table th {
  padding: 0.3em;
}

.nowrap {
  white-space: nowrap;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.content-subhead {
  text-transform: uppercase;
  color: #555;
  border-bottom: 1px solid #ddd;
  padding: 0.4em 0;
  font-size: 90%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.pure-form legend {
  color: #555;
}

.pure-form .pure-button {
  margin: .7em 0 0;
}

.pure-form-aligned {
  text-align: left;
  width: 80%;
  margin: 0 0 0 auto;
}

@media (max-width: 1000px) {
  .pure-form-aligned {
    width: 90%;
  }
}

@media (max-width: 850px) {
  .pure-form-aligned {
    width: 100%;
  }
}

@media (min-width: 481px) {
  .pure-form-aligned .pure-control-group {
    display: flex;
    flex-direction: row;
  }

  .pure-control-group input {
    height: fit-content;
  }

  .pure-control-group label {
    padding-top: .3em;
  }

  .pure-control-group input,
  .pure-control-group label {
    flex: 0 0 auto;
  }
}

@media (max-width: 480px) {
  .pure-form-aligned .pure-control-group,
  .pure-form-aligned .pure-controls {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }

  .pure-form-aligned .pure-controls {
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: #1f8dd6;
}

a:hover {
  text-decoration: underline;
  /*color: #116298;*/
}

.inline-icon {
  padding: 0 0.5em;
  display: inline;
}

div.sep {
  border-bottom: 1px solid #ddd;
  padding: 0;
  margin: 0 0 1.5em;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #AAA;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #AAA;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #AAA;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #AAA;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #AAA;
}
::placeholder { /* Most modern browsers support this now. */
   color:    #AAA;
}

/* -- Message styles ------------------------------------------------------*/

.status {
  margin-bottom: 0.5em;
}

.status p {
  margin: 0;
  font-weight: bold;
}

.error, .warning {
  color: #d11;
}

.info {
  color: #17c;
}

.success {
  color: #5b5;
}

/* -- Button styles -----------------------------------------------------*/

.primary-button,
.secondary-button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 8px;
  //border: 1px solid #aaa;
}

.primary-button {
  color: #fff;
  background: #19f;
  //border-color: #17b
}

.secondary-button {
  color: #666;
}

.danger-button {
  //border-color: #a44;
  background-color: #d55;
  color: #fff;
}

.icon-button {
  padding: 0.5em;
  margin: 0 0.2em !important;
}

.pure-button:hover {
  text-decoration: none;
}

/* -- Menu -----------------------------------------------------------------*/

#logo {
  height: 160px;
  background-image: url(../images/Wappen-transparent.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

#menu {
  margin-left: -150px; /* "#menu" width */
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000; /* so the menu or its navicon stays above all content */
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#menu .primary-button {
  margin: 1em 0.6em;
}

/*
All anchors inside the menu should be styled like this.
*/
#menu .pure-menu-list a {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}

/*
Remove all background/borders, since we are applying them to #menu.
*/
#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
  text-align: left;
}

/*
Add that light border to separate items into groups.
*/
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333;
}

/*
Change color of the anchor links on hover/focus.
*/
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  text-decoration: none;
  background: #333;
}

/*
This styles the selected menu item `<li>`.
*/
#menu .pure-menu-selected {
  background: #1f8dd6;
}

/*
This styles a link within a selected menu item `<li>`.
*/
#menu .pure-menu-selected a {
  color: #fff;
}

/*
This styles the menu heading.
*/
#menu .pure-menu-heading {
  font-size: 110%;
  color: #fff;
  margin: 0;
  padding: 0.6em;
}

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
  position: fixed;
  display: block; /* show this only on small screens */
  top: 0;
  left: 0; /* "#menu width" */
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px; /* change this value to increase/decrease button size */
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
}

.menu-link:hover,
.menu-link:focus {
  background: #000;
}

.menu-link span {
  position: relative;
  display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: #fff;
  width: 100%;
  height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " ";
}

.menu-link span:after {
  margin-top: 0.6em;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

  .header,
  .content {
    padding-left: 2em;
    padding-right: 2em;
  }

  #layout {
    padding-left: 150px; /* left col width "#menu" */
    left: 0;
  }

  #menu {
    left: 150px;
  }

  .menu-link {
    position: fixed;
    left: 150px;
    display: none;
  }

  #layout.active .menu-link {
    left: 150px;
  }
}

@media (max-width: 48em) {
  /* Only apply this when the window is small. Otherwise, the following
  case results in extra padding on the left:
      * Make the window small.
      * Tap the menu to trigger the active state.
      * Make the window large again.
  */
  #layout.active {
    position: relative;
    padding-left: 0;
    /*left: 150px;*/
  }

  .mobile-small {
    font-size: 85%;
  }

}

@media (max-width: 32em) {

  .mobile-small {
    font-size: 70%;
  }

}

/* -- Welcome page-specific formatting -------------------------------------*/

.news-item {
  padding-bottom: 1em;
  max-width: 38em;
  margin: 0 auto;
}

.news-title {
  font-size: 2em;
  color: #c55;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

.news-title a {
  color: #c55;
  text-decoration: none;
}

.news-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.news-description {
  color: #555;
  line-height: 1.8em;
}

.news-description p {
  margin: 0.2em;
  text-align: justify;
}

/* -- Login page-specific formatting -------------------------------------*/

#login-form {
  text-align: center;
  margin: 10% auto;
  max-width: 800px;
}

#login-form label {
  text-align: center;
}

#login-form * {
  margin-left: auto;
  margin-right: auto;
}

#login-form #forgot {
  font-size: 70%;
}

/* -- Password reset page-specific formatting ---------------------------*/

#reset-form {
  margin: 10% auto;
}

#reset-form label {
  text-align: center;
}

#reset-form * {
  margin-left: auto;
  margin-right: auto;
}

#reset-form > p {
  font-size: 85%;
  max-width: 30em;
  text-align: justify;
}

/* -- Duty page-specific formatting -------------------------------------*/

#duty-form fieldset {
  max-width: 30em;
  margin: 0 auto;
}

.input-box {
  padding-right: 0.5em;
}

.input-box * {
  width: 100%;
}

/* -- Plan page-specific formatting -------------------------------------*/

#nav {
  vertical-align: middle;
}

#nav td,
#nav th {
  padding: 0.5em 0.8em;
}

#nav .today a {
  font-weight: bold;
  color: #636b6f;
}

#nav .other a {
  font-style: oblique;
  color: #99ddff;
}

#plan td {
  border-left-width: 1px;
}

#plan .weekend {
  background: #eee;
}

#plan .today {
  background: #bee;
}

td.shift-slot {
  background-color: #cfc;
  width: 30%;
  min-width: 9em;
  height: 7em;
}

div.duty {
  line-height: 1.2;
  margin: 0;
  padding: 0.4em 0;
  border-bottom: 1px solid #cbcbcb;
}

  div.duty:last-child {
    border-bottom: none;
  }

  div.duty p {
    margin: 0;
  }

td.empty-slot {
  background-color: #fcb;
}

td.alone-slot {
  background-color: #ffb;
}

td.service-slot {
  background-color: #ccc;
}

div.duty-service {
  font-weight: bold;
  color: #944;
}

td.selected {
  background-color: #9df;
}

td.hovered-slot {
  -moz-box-shadow: inset 0 0 7px 3px #6ac;
  -webkit-box-shadow: inset 0 0 7px 3px #6ac;
  box-shadow: inset 0 0 7px 3px #6ac;
  /*
      outline: 2px solid #7bd;
  */
}

td.dehover:hover {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

div.duty-time {
  font-size: 95%;
  margin: 0 0.4em;
}

  div.duty-time-start {
    float: left;
  }

  div.duty-time-end {
    float: right;
  }

  // clearfix
  div.duty-time::after {
    content: "";
    display: block;
    clear: both;
  }

.duty-user {
  font-weight: bold;
  color: #444;
}

.duty-comment {
  font-size: 80%;
  color: #999;
  min-width: 100%;
}

.duty-need-driver {
  font-weight: bold;
  color: red;
  min-width: 100%;
}

.hidden {
  display: none;
}

/* -- Phonelist page-specific formatting -------------------------------------*/

.phonelist td,
.phonelist th {
  text-align: left;
}

#phone input {
  width: 100%;
}
